/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Nov-2018, 17:30:02
    Author     : Andre Kelvin
*/

.jfx-tab-pane .tab-header-area .tab-selected-line {
    -fx-background-color: white;
}

.tab-header-background {
    -fx-background-color: red;
}