/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Sep-2018, 11:35:33
    Author     : Andre Kelvin
*/

.hbox{
    -fx-background-color: red;
}

.button{
    -fx-background-color: red;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: white;
    -fx-border-color: red;
    -fx-text-fill: red;
}

.table-view:focused {
    -fx-border-color: red;
}

.table-row-cell:focused {
    -fx-background-color: red;
}

.jfx-text-field{
    -jfx-focus-color: red;
}

.combo-box-popup .list-cell:filled:hover {
    -fx-background-color: red;
}

.combo-box-popup .list-cell:selected {
    -fx-background-color: red;
}

.combo-box{
    -jfx-focus-color: red;
}

.jfx-date-picker{
    -jfx-default-color: red;
}

.jfx-time-picker{
    -jfx-default-color: red;
}

.jfx-check-box {
    -jfx-checked-color: red;
}